# Frontend Environment Variables

# Base URL API Backend saat build.
# - Rekomendasi Single-Domain (Nginx Reverse Proxy):
#   Biarkan kosong atau set '/api'
VITE_API_URL="/api"

# - Jika Backend berada di domain / port terpisah:
# VITE_API_URL="https://api.yourdomain.com/api"
# VITE_API_URL="http://localhost:5001/api"
